@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Acid";
    src: url('fontes/ACID\ LABEL\ II\ PERSONAL\ USE.ttf');
    font-weight: normal;
}

:root{
    --cor0: #83b0fa;
    --cor1: #146CFA;
    --cor2: #1056C7;
    --cor3: #0A357A;
    --cor4: #011435;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Be Vietnam Pro', sans-serif;;
    --fonte-titulos: 'Acid', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.719);
    margin-bottom: 20px;
    font-size: 3em;
}

header p{
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.719);
    font-size: 1.2em;
    margin-bottom: 20px;
}

nav{
    background-color: var(--cor4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: .5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor4);
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.719);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

main h1{
    font-family: var(--fonte-titulos);
    color: var(--cor4);
    font-size: 2em;
}

main h2{
    font-family: var(--fonte-titulos);
    color: rgb(0, 0, 3);
    background-image: linear-gradient(to right, rgb(122, 122, 122), transparent);
    margin: 15px 0px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

img{
    width: 100%;
    height: 100%;
}

main img{
    display: block;
    max-width: 250px;
    max-height: 450px;
    margin: auto;
}

main h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -10px -10px 10px -10px;
}

.lista{
    background-color: var(--cor1);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

main ul{
    list-style-position: inside;
}

.video{
    background-color: var(--cor4);
    position: relative;
    padding: 10px;
    padding-bottom: 40%;
}

main iframe{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 700px;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor3);
}