body{
    background-color: rgba(163, 241, 176, 0.774);
}
h1{
    color: rgba(15, 145, 37, 0.774)
}
h2{
    color: rgba(10, 187, 40, 0.774);
}
#principal{
    color: black;
    text-align: center;
}

.subtitulo{
    color: blue;
    font-weight: bold;
}